<div class="container bg-image">
    <div class="content">
        <h2>
            Discover the world's most exciting destinations
        </h2>
        <div class="container">
            <h1>Welcome to {{ title }}</h1>
          </div>
    <div class="subtitle">
        <h3>
            Travel with us and enjoy the best experiences
        </h3>
    <div class="button-container">
        <button mat-raised-button color="primary" routerLink="/services-list">
            Discover
        </button>
    </div>
    </div>
</div>
